main {
    padding: 7em 0;
    background: var(--bg);
}

.Wrapper {
    max-width: 1400px;
    margin: auto;
    padding: 1em;
}

.ListContainer {
    display: flex;
    flex-direction: column;
}
    .ListContainer > div {
        align-self: center;
        margin-top: 4em;
    }

.List {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
}

@media (max-width: 1300px) {
    .List {
        gap: 1em;
    }
}
@media (max-width: 1200px) {
    .List {
        grid-template-columns: 1fr 1fr;
        gap: 3em;
    }
}
@media (max-width: 992px) {
    .List {
        gap: 1em;
    }
}
@media (max-width: 768px) {
    .List {
        grid-template-columns: 1fr;
    }
}