main {
    padding: 7em 0;
    background: var(--bg);
}

.Wrapper {
    max-width: 1200px;
    margin: auto;
    padding: 1em;
}

.ListContainer {
    display: flex;
    flex-direction: column;
}
    .ListContainer > div + div {
        align-self: center;
        margin-top: 4em;
    }

.List {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2em;
    row-gap: 1em;
}