body {
    --red: #ce3f24;
    --green: #1ABC9C;
    --grey: #60769a;
    --bg: #f2f2f2;
    --text: #212529;
    --err: tomato;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}